{% extends 'base.html' %}


{% block content %}

    <h3> Welcome to my new project! Choose from list below: </h3>

  <ol>

    <li> <a href="get_all_students"> Get all students from database </a> </li>

    <li> <a href="add_student"> Add new student to database </a> </li>

    <li> <a href="load_data"> Load data to bd </a> </li>

    <li> <a href="delete_all"> Delete all students </a> </li>

    <li> <a href="find_student"> Search in bd </a> </li>

<!--    <li> <a href="get_student"> Get student from database </a> </li>-->

<!--    <li> <a href="update_student"> Change student in database </a> </li>-->

<!--    <li> <a href="delete_student"> Delete student from database </a> </li>-->

  </ol>
{% endblock %}